.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  inset: 0;
  background: rgba(18, 18, 20, 0.5);
}

.modal {
  position: absolute;
  width: 369px;
  height: 342px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--gray-3);
  border: none;
  border-radius: 4px;
}

.modalHeader {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0px;
  height: 50px;
  width: 100%;
  padding: 12px 20px;
  background-color: var(--gray-2);
}

.modalHeader button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modalHeader .headerTitle {
  color: var(--gray-0);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
}

.modalForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  margin: 0 auto;
  top: 20px;
}

.modalForm label {
  color: var(--gray-0);
}

.modalForm input,
.modalForm select,
.modalForm button {
  width: 329px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--gray-0);
  background-color: var(--gray-2);
  color: var(--gray-0);
  padding: 0 16px;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 90%;
    height: auto;
    max-width: 100%;
    max-height: 80vh;
  }

  .modalHeader {
    padding: 10px 15px;
    height: auto;
  }

  .modalHeader .headerTitle {
    font-size: 0.75rem;
  }

  .modalForm input,
  .modalForm select,
  .modalForm button {
    width: 100%;
  }
}
